body {
  font-family: sans-serif;
  max-width: 600px;
  margin: 0.5em auto;
  color: white;
  text-align: center;
  background: #1c1c1c;
  font-size: 1.2em;
}

p {
  margin: 2em;
}

li {
  list-style-type: none;
}

span {
  font-size: 1.5em;  
}

#positive_n {
  color: green;
}

#negative_n {
  color: red;
}

footer {
  font-size: 0.7em;
  padding: 3em;
}
